autopep8
coverage
folium
imageio-ffmpeg
jupyter_sphinx
jyquickhelper
keyring
imageio
imageio-ffmpeg
matplotlib
moviepy
nbconvert>=6.0.2
openpyxl
pycodestyle
pyensae
pylint
pyquickhelper>=1.10
pyquicksetup
python-linkedin-v2
sphinx
sphinxcontrib.imagesvg
sphinx_gallery
wheel
